.header-hero {
  position: relative;
  width: 100vw;

  & header {
    z-index: 1;
    position: absolute;
    max-width: 80rem;
    width: 100%;
    padding: 3.625rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

    & img {
      width: 14.375rem;
      height: 3.625rem;
    }

    & .btn-transform {
      position: relative;
      display: inline-block;
      padding: 1rem 2.5rem;
      border: none;
      border-radius: 0.5rem;
      background-color: var(--pink-dark);
      color: var(--text-title);
      font: 700 0.875rem / auto var(--ff-base);
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
    }

    & .btn-transform::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0%;
      height: 0%;
      background-color: var(--pink-base);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      transition: width 1s ease, height 1s ease;
    }

    & .btn-transform:hover::before {
      width: 200%;
      height: 500%;
    }

    & .btn-transform span {
      position: relative;
      z-index: 2;
    }
  }

  & .hero-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    gap: 2rem;
    z-index: 1;

    & h1 {
      color: var(--text-title);
      opacity: 0;
      animation: fadeInEnter 3s ease forwards;
    }
    & p {
      width: 90%;
      font: 500 1.25rem/1.4 var(--ff-base);
      opacity: 0;
      animation: fadeIn 1s ease forwards;
      animation-delay: 0.7s;
    }
  }

  & .img-background {
    position: relative;
    width: fit-content;
    height: auto;

    & img {
      position: relative;
      z-index: 0;
      scale: 1.3;
      height: 100%;
      width: 100%;
      opacity: 0;
      animation: fadeInEnter 2s ease forwards;
    }
  }
}

@keyframes fadeInEnter {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
