.hero-2 {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 10rem 5rem 5rem;

  & img {
    width: 5rem;
    height: 5rem;
  }
  & .book-surprise-mobile {
    display: none;
  }
  & p {
    font: 500 var(--text-sm) / 2rem var(--ff-base);

    & strong {
      font-weight: 500;
      color: var(--blue-light);
    }

    & .livro,
    & .brindes,
    & .encantadora {
      opacity: 0.2;
    }
  }

  & > img {
    opacity: 0;
    rotate: 20deg;

    &:hover {
      rotate: 30deg;
      scale: 1.2;
    }
  }

  & > div img:nth-child(1) {
    opacity: 0;
    rotate: 90deg;

    &:hover {
      rotate: 100deg;
      scale: 1.2;
    }
  }

  & > div img:nth-child(2) {
    opacity: 0;
    rotate: -20deg;

    &:hover {
      rotate: -5deg;
      scale: 1.2;
    }
  }

  &:hover {
    & .livro {
      animation: fadeIn 1s ease forwards;
    }

    & .brindes {
      animation: fadeIn 1.4s ease forwards;
      animation-delay: 0.6s;
    }

    & .encantadora {
      animation: fadeIn 1.6s ease forwards;
      animation-delay: 1.2s;
    }

    & img[src*="spellbook"] {
      animation: fadeInImage 0.6s ease forwards;
    }

    & img[src*="ouija"] {
      animation: fadeInImage 0.6s ease forwards;
      animation-delay: 0.6s;
    }

    & img[src*="crystal"] {
      animation: fadeInImage 0.6s ease forwards;
      animation-delay: 1.2s;
    }
  }

  & > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media (width <= 26.875em) {
  .hero-2 {
    padding: 5rem 1.5rem;
    width: 100%;
    align-items: flex-end;

    & .book-surprise-mobile {
      display: block;
      font: 500 1rem / 1.4rem var(--ff-base);
    }
    & p {
      display: none;
    }
    & > img {
      opacity: 1;
      rotate: 20deg;
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: -1rem;
      margin-right: 3.5rem;

      &:hover {
        rotate: 20deg;
        scale: 1;
      }
    }

    & > div img:nth-child(1) {
      opacity: 1;
      rotate: -35deg;
      width: 2.5rem;
      height: 2.5rem;
      margin-top: -2rem;
      &:hover {
        rotate: -35deg;
        scale: 1;
      }
    }

    & > div img:nth-child(2) {
      opacity: 1;
      rotate: 20deg;
      width: 2.5rem;
      height: 2.5rem;
      margin-top: -1rem;

      &:hover {
        rotate: 20deg;
        scale: 1;
      }
    }

    &:hover {
      & img[src*="spellbook"],
      & img[src*="ouija"],
      & img[src*="crystal"] {
        animation: none;
        animation-delay: none;
        transition: none;
      }
    }
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
